.header nav {
  display: flex;
  margin: 0;
  padding: 1rem;
  list-style: none;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.header-logo {
  flex: 0;
}

.header-logo img {
  max-height: 32px;
  max-width: 25vw;
  width: auto;
  height: auto;
}

.header-title {
  flex: 1;
  line-height: 1.1rem;
  text-align: center;
}

.header-title a:any-link {
  text-decoration: none;
}

.header-title span:first-child {
  font-weight: bold;
}

.header-title span + span {
  margin-left: -.25rem;
}

.header-profile {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.header-profile .icon {
  --color: inherit;

  display: block;
  color: var(--color);
  width: 32px;
  height: 32px;
}

.header-profile select {
  padding: 0;
  border: none;
}

@media (min-width: 600px) {
  .header-logo img {
    max-height: 48px;
  }

  .header-profile select {
    padding: .5rem;
    border: none;
  }
}